@model KeyHub.Web.ViewModels.Transaction.TransactionDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("DetailsPartial", Model) 

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
