@model KeyHub.Web.ViewModels.Transaction.TransactionDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("DetailsPartial", Model) 

<br />

<h2>Licenses</h2>

@Html.Action("IndexPartial", "License", new {transactionID = Model.Transaction.TransactionId }) 

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
