@model KeyHub.Web.ViewModels.Transaction.TransactionViewModel

@{
    ViewBag.Title = "Purchase";
}

<h2>Purchase</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TransactionViewModel</legend>

        <p>
            <input type="submit" value="Purchase done" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
