@using KeyHub.Data.BusinessRules

@{
    ViewBag.Title = "Error";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>KeyHub Error</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="/Content/Styles/Default.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="LayoutContainer">
            <div class="LayoutHeaderContainer">
                <div class="LayoutWrapper">
                    @Html.ActionLink("KeyHub", "Index", "Home", null, new { @class= "Logo"})
                </div>
            </div>
            <div class="LayoutWrapper">
            <div class="LayoutContentContainer">
                
                <hgroup class="title">
                    <h1 class="error">Error.</h1>
                    <h2 class="error">An error occurred while processing your request.</h2>
    
                    <a href="/">Go to homepage</a>

                </hgroup>
            
       
                </div>
            </div>
            <div class="LayoutFooterContainer">
            </div>
       </div>
    </body>
</html>




