<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
        Before the tests can use a particular value for googleTestEmail & googleTestPassword, 
      you must run the site locally and login with that google account.  This is necessary
      because tests don't handle the initial opt-in in the google domain.
    -->
    <add key="googleTestEmail" value="testuser0fschwiet0imazen@gmail.com"/>
    <add key="googleTestPassword" value="PnpsI4YZbpUi8Gob90Gz"/>
  </appSettings>
</configuration>