<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DataContext" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=KeyHub;Integrated Security=true;AttachDBFilename=c:\temp\KeyHub.mdf" />
  </connectionStrings>
  <appSettings>
    <!-- 
        Before the tests can use a particular value for googleTestEmail & googleTestPassword, 
      you must run the site locally and login with that google account.  This is necessary
      because tests don't handle the initial opt-in in the google domain.
    -->
    <add key="googleTestEmail" value="testuser0fschwiet0imazen@gmail.com" />
    <add key="googleTestPassword" value="PnpsI4YZbpUi8Gob90Gz" />
    <add key="DatabaseEncryptionKey" value="This password is used when storing some sensitive information"/>
  </appSettings>
</configuration>