TABLE.GridTable {
  width: 100%;
  background: #ffffff; }
  TABLE.GridTable THEAD TH {
    text-align: left;
    border-bottom: 3px solid #cccccc;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    border-left: 1px solid #cccccc; }
    TABLE.GridTable THEAD TH:first-child {
      border-left: none; }
  TABLE.GridTable TD, TABLE.GridTable TH {
    padding: 0px 10px;
    line-height: 30px; }
  TABLE.GridTable TBODY TR TD {
    border-bottom: 1px solid #FFFFFF;
    color: #666666; }
    TABLE.GridTable TBODY TR TD:first-child {
      background: #ededed;
      /*padding: 0;
      A{
      	color: #000000;
      	display: block;
      	padding: 0px 10px;
      	position: relative;
      	&:hover{
      		background: $colorActive;
      		color: #ffffff;
      	}
      	&:after{
      		content: "";
      		position: absolute;
      		right: 10px; top: 7px;
      		height: 14px; width: 14px;
      		border-radius: 14px;
      		background: #cccccc;
      	}
      }*/ }
  TABLE.GridTable TBODY TR:hover TD {
    background: #ededed; }
    TABLE.GridTable TBODY TR:hover TD:first-child {
      background: #cccccc; }
  TABLE.GridTable TBODY TR:first-child TD {
    border-top: 5px solid #FFFFFF; }

