@import "Mixins.scss";

$iconFormats: 48 40 30 24 20 16 14;
$iconTypes: ArrowLeft ArrowRight Tick Questionmark Magnifier Questionmark-Grey ArrowLeft-White Magnifier-NoCircleGrey Cross Cross-NoCircleGrey Cross-Grey Cross-White ArrowRight-White Plus ArrowDown ArrowUp Plus-NoCircleGrey ArrowRight-Blue;


A.IconLink{
	display: inline-block;
	position: relative;
	//color: #666666;
	text-decoration: none;
	> I{
	
		position: absolute;
		display: block;
		background: #cccccc;
		background: url("../Images/bgIcons.png") 0px 0px no-repeat;
	}
	&:after{
		content: "";
		
		position: absolute;
		display: block;
		background: #cccccc url("../Images/bgIcons.png") 0px 0px no-repeat;

		height: 14px; width: 14px; border-radius: 14px;
		top: 1px; left: 0px;
	}
	
	$bgy: 0px;
	@each $size in $iconFormats {
		&.IconLink#{$size} {
			@if( $size <= 20 ){ 
				line-height: #{$size+2}px;
			}@else{
				line-height: #{$size+4}px;
			}
			width: #{$size}px;
			height: #{$size}px;
			> I{
				width: #{$size}px;
				height: #{$size}px;
				border-radius: #{$size/2}px;
				top: 50%;
				left: 50%;
				margin-left: -#{$size/2}px;
				margin-top: -#{$size/2}px;
				background-position: 0 -#{$bgy};
			}
			
			$padding: 0px;
			@if( $size <= 20 ){ 
				$padding: #{$size+5}px;
			}@else{
				$padding:#{$size+10}px;
			}
			&.Text{
				width: auto; 
				height: auto; 
				I{
					top: 2px;
					left: auto;
					margin: 0px;
				}
			}
			&.Text.Left{ padding: 0px $padding 0px 0px;  I{right: 0;}}
			&.Text.Right{ padding: 0px 0px 0px $padding;  I{left: 0;}}
			
		}
		$bgy: $bgy + $size;
	}

	
	$bgx: 50px;
	@each $type in $iconTypes {
	$bgy: 0px;
		@each $size in $iconFormats {
			&.IconLink#{$size}.#{$type} {
				> I{
					background-position: -#{$bgx} -#{$bgy};
				}
			}
			$bgy: $bgy + $size;
		}
		$bgx: $bgx + 50;
	}

	//s
	&:focus, 
	&:hover {
		/*color: $colorActive;
		> I{ background-color:  $colorActive;}*/
		//text-decoration: underline;
		@include opacity(.7);
		outline: none;
	}
	
}