@import "Mixins.scss";

$debug: false;


DIV.LayoutContainer{
	
	DIV.LayoutHeaderContainer,
	DIV.LayoutFooterContainer{
		position: fixed;
		left: 0px; right: 0px;
		z-index: 999;
	}
	DIV.LayoutHeaderContainer{
		background: #333333;
		
		top: 0px;
		height: 30px;
		DIV.LoginPartial{
			position: absolute;
			right: 0px;
			top: 0px;
		}
		DIV.HeaderMenu{
			position: absolute;
			left: 120px;
			top: 0px;
		}
	}
	DIV.LayoutContentContainer{
	padding: 60px 30px;
	
	}
	DIV.LayoutFooterContainer{
		background: #333333;
		bottom: 0px;
		height: 30px;
	}

	DIV.LayoutWrapper{
		//border: 1px dashed #cc0000;
		width: 960px;
		margin: 0px auto;
		position: relative;
	}

}