@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

Your password has been changed.

<br/>
<br/>

<div>
    @Html.ActionLink("Back to account details", "Index")
</div>
