@{
    ViewBag.Title = "Index";
}
<h2>Account <span>Personal</span></h2>
<fieldset>
    <legend>LicenseDetailsViewItem</legend>
    <div class="editor-container-sideBySide">
        <div class="display-label">name</div>
        <div class="display-field">zsadf safdasf</div>

        <div class="display-label">age</div>
        <div class="display-field">3</div>

    </div>
    </fieldset>
<a href="#">edit</a>

<h2>Account <span>Overview</span></h2>
<table border="0" border="0" cellspacing="0" cellpadding="0" class="GridTable">
    <thead>
        <tr>
            <th>asdasd</th>
            <th>asdasd</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>asdasd</td>
        <td>asdasd</td>
        <td><a href="#">edit</a></td>
    </tr>
    <tr>
        <td>asdasd</td>
        <td>asdasd</td>
        <td><a href="#">edit</a></td>
    </tr>
</table>
