@using MvcFlash.Core.Extensions
@model KeyHub.Web.ViewModels.User.LinkAccountModel

@{
    ViewBag.Title = "Manage your OpenID logins";
}

 @section featured {
    <h2>@ViewBag.Title.</h2>
}

<style>
    .section {
        padding: 6px;
        font-size: 18px;
    }
     
</style>

<div class="section">
    @if (Model.OpenIDProvidersLinked.Count() > 0)
    {
        <div>You have the following OpenID logins linked to your account:</div>
        
        <ol>
            @foreach (var provider in Model.OpenIDProvidersLinked)
            {
                <li class="section">
                    @provider 
                </li>
            }
        </ol>
    }
    else
    {
        <div>No OpenID logins are linked at this time.</div>
    }
</div>

@if (Model.OpenIDProvidersAvailable.Count() > 0)
{
    <div class="section">
        <span>Associate OpenID accounts with your login:</span>
            
        @using (Html.BeginForm("LinkAccount", "Account"))
        {
            @Html.AntiForgeryToken()

            <fieldset> 
                <legend>Associate OpenID accounts with your login:</legend>
                <ol class="editor-field" style="width: 270px;">
                    @foreach (var provider in Model.OpenIDProvidersAvailable)
                    {
                        <li class="section">
                            <input type="submit" name="provider" value="@provider" title="Link your @provider account" />
                        </li>
                    }
                </ol>
            </fieldset>
        }
    </div> 
}
