<?xml version="1.0"?>
<Mef.Configuration>
  <parts>

    <!--
      Logging
    -->
    <part type="KeyHub.Web.Logging.NLogLogger, KeyHub.Web" creationPolicy="Shared">
      <exports>
        <export contractType="KeyHub.Core.Logging.ILogger, KeyHub.Core" />
      </exports>
    </part>

    <!--
      Cache providers
    -->
    <part type="KeyHub.BusinessLogic.Caching.PerRequestCacheProvider, KeyHub.BusinessLogic" creationPolicy="Shared">
      <exports>
        <export contractType="KeyHub.Core.Caching.IPerRequestCacheProvider, KeyHub.Core" />
      </exports>
    </part>
    <part type="KeyHub.BusinessLogic.Caching.RuntimeCacheProvider, KeyHub.BusinessLogic" creationPolicy="Shared">
      <exports>
        <export contractType="KeyHub.Core.Caching.IRuntimeCacheProvider, KeyHub.Core" />
      </exports>
    </part>

  </parts>
</Mef.Configuration>